//
   Created by 灵 on 2016/3/4.

extends layout

block content
    body(ng-app="examApp" ng-controller="examController" as ctrl)
        .container-fluid
            .row-fluid
                .span12.main
                    .questionPanel.well
                        div(exam-question="" display-question="curSubject.question.text")
                    .answerPanel.well
                        div(exam-answer="" answer="curSubject.answer")
            .row-fluid(style="height:400px;line-height:400px")
                .span10
                    .inputPanel.well
                        div(exam-input="" answer="curSubject.answer")
                .span2
                    .row
                        button.span12.prev(ng-click="onclickprev()",class="\{{prevBtnClass}}") 上一题
                    .row
                        button.span12.next(ng-click="onclicknext()",class="\{{nextBtnClass}}",style="margin:10px 10px 0 0") 下一题
            div(wav-player="", wav-file="wavFile")

    script
        | var examPaper = eval(!{examPaper});
    script(src="/javascripts/angular/exam/exam.js")
    script(src="/javascripts/angular/exam/app.js")
    script(src="javascripts/angular/exam/directives.js")
    script(src="/javascripts/angular/exam/examController.js")
