//
   Created by 灵 on 2016/3/4.

extends layout

block content
    body(ng-app="examApp" ng-controller="examController" as ctrl)
        .container-fluid
            .row-fluid
                button.span2.well.prev(ng-click="prevSubject()") 上<br>一<br>题
                .span8.main
                    .questionPanel.well
                        div(exam-question="" display-question="curSubject.question.text") addr
                    .answerPanel.well
                        div(exam-answer="" answer="curSubject.answer")
                button.span2.well.next(ng-click="nextSubject()") 下<br>一<br>题
            .row-fluid
                .span8.offset2
                    .inputPanel.well
                        div(exam-input="" answer="curSubject.answer")
        script
            | var examPaper = eval(!{examPaper});
        script(src="/javascripts/angular/exam/exam.js")
        script(src="/javascripts/angular/exam/app.js")
        script(src="javascripts/angular/exam/directives.js")
        script(src="/javascripts/angular/exam/examController.js")
