//
   Created by 灵 on 2016/3/4.

extends htmlhead

block body
    body(ng-app="examApp" ng-controller="examController" as ctrl)
        .container-fluid
            .row-fluid
                .span12
                    .well.questionPanel
                        div(exam-question="",display-question="curSubject.question.text",trigger-fadeout="triggerQuestionChange")
                    .answerPanel.well
                        div(exam-answer="" answer="curSubject.answer")
                .span3.offset9.well.remain 剩余：{{remainCount}}
            .row-fluid(style="height:400px;line-height:400px")
                .span10
                    .inputPanel.well
                        div(exam-input="" answer="curSubject.answer")
                .span2
                    .row
                        button.span12.prev(ng-touch="onclickprev()",class="\{{prevBtnClass}}") 上一题
                    .row
                        div(spin-button="" click-event="onclicknext()" caption="下一题")
                        //div.span12.btn.btn-danger.next(ng-click="onclicknext()",class="\{{nextBtnClass}}",style="margin:10px 10px 0 0") 下一题
            div(wav-player="", wav-file="wavFile")
            audio(id="backgroundwav", preload="auto", loop="loop",style="display:none")
                source(src="/audios/ori.mp3")
    script
        | var examPaper = eval(!{examPaper});
    script.
        $(document).ready(function() {
            var startPlay = false;
            document.addEventListener('touchstart', function(){
                if(!startPlay){
                    $('#backgroundwav')[0].play();
                    startPlay = true;
                }
            }, false);
        });
    script(src="/javascripts/angular/exam/exam.js")
    script(src="/javascripts/angular/exam/app.js")
    script(src="javascripts/angular/exam/directives.js")
    script(src="/javascripts/angular/exam/examController.js")