extends htmlhead

block body
  .container-fluid
    h1 Growing With Son
    .navbar.navbar-inverse
      .navbar-inner.nav-collapse(style='height: auto;')
        ul.nav
          li
            a(href='/index.html') 首页
          li
            a(href='/english.html') 英文字母
          li
            a(href='/math.html') 数学
          li
            a(href='#') Page Two
    block content
  .modal-footer(style="margin:20px")
    span 沪ICP备16009794号