//
   Created by 灵 on 2016/3/13.

extends layout

block content
    .row-fluid(ng-app="mathApp",ng-controller='mathController')
        .span9
            button.btn.btn-primary(ng-click="onStartExam(2)") 20以内加减法
        .span3
            h4 题目数量
            ul.radioul
                li.btn(class='\{{questionCount !== 10 ? "btn-primary": "btn-danger"}}',ng-click='questionCount= 10') 10题
                li.btn(class='\{{questionCount !== 20 ? "btn-primary": "btn-danger"}}',ng-click='questionCount= 20') 20题
                li.btn(class='\{{questionCount !== 40 ? "btn-primary": "btn-danger"}}',ng-click='questionCount = 40') 40题
                li.btn.last(class='\{{questionCount !== 80 ? "btn-primary": "btn-danger"}}',ng-click='questionCount = 80') 80题
            h4 正确次数
            ul.radioul
                li.btn(class='\{{correctNumber !== 0 ? "btn-primary": "btn-danger"}}',ng-click='correctNumber= 0') 不限
                li.btn(class='\{{correctNumber !== 1 ? "btn-primary": "btn-danger"}}',ng-click='correctNumber= 1') 1次
                li.btn(class='\{{correctNumber !== 2 ? "btn-primary": "btn-danger"}}',ng-click='correctNumber= 2') 2次
                li.btn.last(class='\{{correctNumber !== 3 ? "btn-primary": "btn-danger"}}',ng-click='correctNumber = 3') 3次
            h4 速度要求
            ul.radioul
                li.btn(class='\{{timeLimit !== 0 ? "btn-primary": "btn-danger"}}',ng-click='timeLimit=0') 不限
                li.btn(class='\{{timeLimit !== 6 ? "btn-primary": "btn-danger"}}',ng-click='timeLimit=6') 6秒
                li.btn(class='\{{timeLimit !== 10 ? "btn-primary": "btn-danger"}}',ng-click='timeLimit=10') 10秒
                li.btn.last(class='\{{timeLimit !== 15 ? "btn-primary": "btn-danger"}}',ng-click='timeLimit =15') 15秒
            h4 记忆时间
            ul.radioul
                li.btn(class='\{{memorySpan !== 0 ? "btn-primary": "btn-danger"}}',ng-click='memorySpan= 0') 不限
                li.btn(class='\{{memorySpan !== 1 ? "btn-primary": "btn-danger"}}',ng-click='memorySpan= 1') 1秒
                li.btn(class='\{{memorySpan !== 3 ? "btn-primary": "btn-danger"}}',ng-click='memorySpan= 3') 3秒
                li.btn(class='\{{memorySpan !== 5 ? "btn-primary": "btn-danger"}}',ng-click='memorySpan = 5') 5秒
                li.btn.last(class='\{{memorySpan !== 10 ? "btn-primary": "btn-danger"}}',ng-click='memorySpan = 10') 10秒

    script(src="/javascripts/angular/math/app.js")
    script(src="/javascripts/angular/math/directives.js")
    script(src="/javascripts/angular/math/controllers.js")